[type="checkbox"],
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: unset;
  opacity: unset;
  pointer-events: unset;
  box-sizing: unset;
  padding: unset;
}

.ts-checkbox {
  margin-right: 1vw;
}

.ts-checkbox:checked+label:before {
  border-right: 2px solid #009FC1;
  border-bottom: 2px solid #009FC1;
}

.checkbox-label {
  color: rgba(0,0,0,0.87);
}
