.modal {
  position: absolute;
  z-index: 100;
  opacity: 0.95;
  height: 70%;
  width: 36vw;
  margin: 4% 32vw;
  /*padding: 5%;*/
}

@media only screen and (max-width : 992px) {
  .modal {
    height: 65%;
    width: 60vw;
    margin: 8% 20vw;
  }
}

@media only screen and (max-width : 600px) {
  .modal {
    width: 40vw;
    margin: 2.5% 30vw;
  }
}
