.part-tab {
  padding: 0 12px !important;
}

.active-part {
  outline: none;
  font-weight: 600;
  font-size: 16px !important;
  transition: background-color 1.5s ease !important, font-size .5s ease !important;
}
