.tsnav {
  box-shadow: unset;
  min-height: 60px;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.tsnav a {
  color: black;
}

/* Larger than mobile width */
@media screen and (min-width:993px) {
  .nav-list {
    margin-right: 5vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: right;
  }

  .nav-image {
    height: 75px;
    width: auto;
    margin-left: 5vw;
    margin-top: 5vh;
  }
}

/* Smaller than desktop width */
@media screen and (max-width:992px) {
  .tsnav.active {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav-image-link {
    margin-left: 5%;
    width: 10%;
  }

  .nav-image {
    height: 50px;
  }

  .nav-list:not(.active) {
    display: none;
  }

  .nav-list.active {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
  }

  .nav-list li {
    padding: 0;
  }

  .mobile-activator {
    width: 10%;
    margin-right: 5%;
    text-align: right;
    cursor: pointer;
  }
}
