.tsnav {
  min-height: 60px;
  height: 10vh;
}

.tsnav a {
  color: #444;
}

.mobile-nav-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.mobile-nav li {
  width: 95%;
  margin: 0 2.5%;
  padding: 0;
}

.mobile-nav-outside {
  background-color: rgba(0,0,0,0.7);
}

.mobile-activator {
  margin-left: 5vw;
  cursor: pointer;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.slider-caption {
  position: relative;
  font-size: 2rem;
  text-align: center;
}

.slider-caption div {
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
  /*padding: 1%;*/
}

.right-caption {
  position: absolute;
  bottom: 0;
  padding: 1%;
}

.left-caption {
}

@font-face {
  font-family: 'icomoon';
  src:  url('https://cdn.tanachstudy.com/assets/fonts/ts_icons/ts_icons.eot?843vnw');
  src:  url('https://cdn.tanachstudy.com/assets/fonts/ts_icons/ts_icons.eot?843vnw#iefix') format('embedded-opentype'),
    url('https://cdn.tanachstudy.com/assets/fonts/ts_icons/ts_icons.ttf?843vnw') format('truetype'),
    url('https://cdn.tanachstudy.com/assets/fonts/ts_icons/ts_icons.woff?843vnw') format('woff'),
    url('https://cdn.tanachstudy.com/assets/fonts/ts_icons/ts_icons.svg?843vnw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.tsicons {
  font-family: 'icomoon' !important;
  font-weight: 900;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-scroll:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
.icon-profile:before {
  content: "\e923";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-display:before {
  content: "\e956";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-blogger:before {
  content: "\eab7";
}
.icon-blogger2:before {
  content: "\eab8";
}

.testimonial-container {
  position: relative;
}

.collage-container {
  position: relative;
}

.collage-container img {
  position: relative;
}

.collage-container .in-memory {
  position: absolute;
  bottom: 3%;
  right: 3%;
  max-width: 25%;
  padding: 1% 1%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
}

.in-memory-link {
  color: white;
  text-decoration: none;
}

.in-memory-link:visited {
  color: white;
}

.logo-container {
  max-height: 10vh;
}

.slideshow {
  height: 400px;
  width: 100%;
  position: relative;
  z-index: -1;
}

.slide-item {
  position: absolute;
  left: 100%;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: slide 5s forwards;
  transition: all 0.5s ease;
}

.slide-item.inactive {
  display: none;
}

.slide-item.active {
  display: block;
}

.slide-item .caption {

}

@keyframes slide {
  0% {
    left: 100%;
    opacity: 0;
  }
  20% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

.testimonial-slide-item {
  position: absolute;
  left: 100%;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: slide 15s forwards;
  transition: all 1.5s ease;
}

.testimonial-slide-item.inactive {
  display: none;
}

.testimonial-slide-item.active {
  display: block;
}

.testimonial-slide-item .caption {

}

@keyframes slide {
  0% {
    left: 100%;
    opacity: 0;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  95% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

.tsblue {
  background-color: #009FC1 !important;
}

.tsblue-text {
  color: #009FC1 !important;
}

.tsblue-form input:focus {
  border-bottom: 1px solid #009FC1 !important;
  box-shadow: 0 1px 0 0 #009FC1 !important;
}

.teacher-title {
  margin: 0;
}

.body {
  min-height: 81vh;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.rtl {
  direction: rtl;
}








.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


.bold {
  font-weight: bold;
}

.footer-container {
  height: 10vh;
  min-height: 80px;
}

.footer-wrapper {
  height: 100%;
  margin-bottom: 0;
}

.social-icons {
  padding: 0;
  margin: 0 0 0 5px;
  height: 32px;
  width: 32px;
}

.social-icons img {
  height: 32px;
  width: 32px;
}
