footer.page-footer {
  margin: 0;
}

.footer-container {
  height: 10vh;
  min-height: 80px;
}

.footer-wrapper {
  height: 100%;
  margin-bottom: 0;
}

.social-icons {
  padding: 0;
  margin: 0 0 0 5px;
  height: 32px;
  width: 32px;
}

.social-icons img {
  height: 32px;
  width: 32px;
}
