footer {
  padding: 1%;
  background-color: #253551;
}

.footer-wrapper {
  height: 100%;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.social-icons {
  padding: 0;
  margin: 0 0 0 5px;
  height: 32px;
  width: 32px;
}

.social-icons img {
  height: 32px;
  width: 32px;
}

.footer-link {
  color: white;
  border-bottom: 1px solid white;
}
